<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Salvo!</title>
</head>
<body>
<div>
    <div id="app-content">
        <ol><li v-for="data in allData">
                {{getDate(data)}}, {{data.gamePlayers["0"].player.username}} vs. {{getPlayerTwo(data)}}
            </li>
        </ol>

        <table>
            <thead>
                <th>Name</th>
                <th>Total</th>
                <th>Won</th>
                <th>Lost</th>
                <th>Tied</th>
            </thead>
            <tbody>
                <tr v-for="player in players">
                    <td> {{ player }} </td>
                    <td> {{ findScores(player, "total") }} </td>
                    <td> {{ findScores(player, "wins") }} </td>
                    <td> {{ findScores(player, "loses") }} </td>
                    <td> {{ findScores(player, "ties") }} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="js/games.js"></script>
</body>
</html>